.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

  &__accordion {
    width: 90%;
  }
}

@media all and (max-width: 360px) {
  .main-content > h1 {
    font-size: 36px;
  }
}
